<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Congressistas Quiz</title>
</head>
<body>
    <h1>Bem-vindo ao Congressistas Quiz</h1>
    <form action="/game" method="post">
        <label for="player_name">Digite seu nome:</label>
        <input type="text" id="player_name" name="player_name" required>
        <button type="submit">Iniciar Jogo</button>
    </form>
</body>
</html>
